*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.NavaLogo img{

   width: 121px;
   height: 50px;

}

.NavBarConatiner{
    padding: 10px;
    position: sticky;
    z-index: 999;
    box-shadow: 0px 0px 20px 0px #090909fa;
    transition: background 1s ease;
    background: #fff;
   height: auto;
   top :0;
}

.NavBarWrapper{
   
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    
    max-width: 1200px;

}

.NavContext{
    display: flex;
    justify-content :center;
    align-items: center;
}
.NavContext ul ,.NavContext ul li{
      display: inline;
      list-style: none;
       
}
.NavContext ul li a{
    text-decoration: none;
      align-items: center;
      font-size: 18px;
      font-weight: bolder;
      margin-left: 24px;
      color: black;
}
.NavBarsContent {

}

.NavBARSOICAL{
    margin-left: 26px;
    border-left: 2px solid #e1e1e1;
    padding: 5px;
   padding-left: 16px;
   
   
}

.INTRO{
    background: black;
    color: white;
    width: 100%;
}

.INTROFLEX{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
}

.IntroText{
    margin-right: 10px;
}
.IntroText h2{
    color: #01b7ff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 2px ;
    margin-bottom: 15px;
    font-weight: 500;
   
}

.IntroText h1{
    font-size: 64px;
    color: #fff;
    padding: 10px;
  
}



.IntroText p{
    line-height: 24px;
    font-size: 17px;
    color: white;
    margin-bottom: 50px;
    padding-right: 20px;
}



.INTROIMAGE{
    align-items: center;
}

.INTROIMAGE img{
    clip-path: circle(230px at 50% 50%);
    margin: 20px 0px;
}

#IntroP{
    background-color: #44f0b5;
    
    border: 2px solid #44f0b5;
    padding: 15px 30px;
    text-decoration: none;
    margin-right: 60px;
    font-size: 24px;
    border-radius: 30px;
    color: white;
   transition: all 300ms ease-in;
    text-align: center;
}

#IntroP:hover{
    padding: 15px 50px;
    transition: all 300ms ease;
}


#IntroG{
    background-color: #000;

    border: 2px solid #feffff;
    padding: 15px 30px;
    text-decoration: none;
    margin-right: 60px;
    font-size: 24px;
    border-radius: 30px;
    color: white;
     transition: all 300ms ease-in;
     text-align: center;
}


#IntroG:hover {
    padding: 15px 50px;
    transition: all 300ms ease;
    background: #01b7ff;
     border-color: #01b7ff;

}

.INFORMATIONS{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}

.AutoInfo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background:  linear-gradient(22deg, #01b7ff, #44f0b5);
    padding: 100px;
    align-items: center;
    border-radius: 20px ;
      box-shadow: 5px 5px 5px 10px  #44f0b5;
    margin-top: 100px;
}

.INFORMATIONS img{
    margin: 30px 0px;
}

.INFORMATIONS .git{
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    padding: 3px;
    text-transform: uppercase;
}

.GITCOMMITS{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GITSTAR{
    display: flex;
     flex-direction: column;
       align-items: center;
}

.GIT-PULL{
    display: flex;
     flex-direction: column;
       align-items: center;
}

.GIT-STEAK{
    display: flex;
     flex-direction: column;
       align-items: center;
}


.FooterContainer{
    margin-top: 100px;
    width: 100%;
    
}
.FooterFlex{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid #fff;
     padding: 5px;

}

.FooterFlex div{
    font-size: 20px;
}





@media screen and (max-width :1100px)
{
    .IntroText h1{
        font-size: 36px;
    }
}

@media screen and (max-width :1000px) {
    .INTROFLEX{
        flex-direction: column;
    }


    .INTROIMAGE img {
      
        margin: 100px 0px;
    }
}

@media screen and (max-width : 550px)
{
   .ButtonFlex{
      display: flex;
      flex-direction: column;
   }
   #IntroG{
       margin-top: 30px;
   }
   .FooterFlex{
       flex-direction: column-reverse;
       text-align: center;
   }

   .INTROIMAGE img{
     width: 80%;

      border-radius: 50%;
   }
}


@media screen and (max-width : 880px) {
   .INFORMATIONS{
       grid-template-columns: repeat(2,1fr);
   }
}

@media screen and (max-width : 650px) {
    .INFORMATIONS {
        grid-template-columns: repeat(1, 1fr);
    }
}



@media screen and (max-width :430px) {

    .INFORMATIONS .git{
        font-size: 15px;
    }
    .AutoInfo{
        padding-left: 0px;
        padding-right: 0px;
    }

    .NavBARSOICAL{
        margin-left: 0px;
        padding-left: 0px;
    }

    .NavContext ul li a{
        margin-left: 5px;
    }
}

/*=================================================about sections=========================================*/

.ProjectGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-gap: 50px 20px ;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.ProjectWrapper h1{
        margin: 100px auto;
        text-align: center;
        padding: 20px;
       
}
.ProjectGrid div{
   display: inline-block;
   padding: 30px;
   align-items: center;
   justify-content: center;
   margin: auto;
   background: #fff;
   width: 380px;
   height: 380px;
   
   box-shadow: 5px 5px 10px 5px rgb(80, 77, 77);
   z-index: 10;
   transition: all 300ms ease-in;
}

.ProjectGrid div:hover{
     
    filter: brightness(120%)
}

.ProjectGrid div img{
     width: 100%;
     height: 100%;
     border-radius: 10px;
     box-shadow:2px 2px 2px 2px #6b6e6e;
     z-index: 12;
}


@media screen and (max-width :1250px)
{
    .ProjectGrid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width :830px) {
    .ProjectGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width :430px) {
   
    .ProjectGrid div{
        display: flex;
        width: 80%;
        height: auto;
        aspect-ratio: 1;
        margin : auto ;
        align-content: center;
        align-self: center;
    }
}












