@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <h2>19BCN7185</h2>
            <p>
                ASP.NET MVC MADE BY NAVEEN.
            </p>
            <p><a class="btn btn-default" href="https://github.com/engineerscodes">GITHUB </a></p>
        </div>
        <div class="col-md-4">
            <h2>BMI CALCULATOR</h2>
            <p>
               LET GO.
            </p>
            <p><a class="btn btn-default" href="/Calc">BMI CALCULATOR</a></p>
        </div>
    </div>