body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Navbar{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    color: black;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
}

.logo{
     margin-left: 100px;
     justify-content: center;
     align-self: center;
     font-size: 2rem;
}

.elements ul li a{
    text-decoration: none;
     text-align: center;
     margin-top: 50%;
      color: black;
}

.elements ul{
     text-decoration: none;
     list-style: none;
     text-align: center;
    
      
}
.elements ul li {
    display: inline;
    text-align :left;
    padding: 1.7rem;
     margin-left: 10px;
    
     font-size: 2rem;
}

.Home .Homebg{
 
   padding: 20px;
   color: burlywood;
   background-image: url("https://media-exp1.licdn.com/dms/image/C5616AQEfodHnXMGDSQ/profile-displaybackgroundimage-shrink_350_1400/0/1604487444089?e=1617840000&v=beta&t=UelWk4he1lhXLmI4QAN2jaOK6JzmCDy7k7QuDjmswQs");
   width: inherit;
   overflow-x: hidden;
   height: 500px;
}

.ProfileHolder{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    
}

.ProfileHolder img{
    margin: auto;
    align-self: center;
    width: 250px;
    height: 250px;
    clip-path: circle(120px at 50% 50%);
    margin-top: 100px;
    margin-bottom: 100px;
}

.about .PersonAbout{
    text-align: center;
    list-style: none;
}

.about h1{
    text-align: center;
    margin :10px;
}

.about .PersonAbout li{
    margin: 10px 0px 20px 0px;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    padding: 10px;
}

.ContainerEVENTGRID {}

.EventH1 {

    text-align: center;
    margin: auto;
    margin-top: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: black;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.125em;

   
}

.GRIDS {

    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;

}

img {
    width: 315px;
    height: 315px;
}



@media screen and (max-width :1450px) {
    .GRIDS {

        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(3, 1fr);

    }
}


@media screen and (max-width :1080px) {
    .GRIDS {

        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
    }
}

@media screen and (max-width :760px) {
    .GRIDS {

        display: grid;
        margin-top: 60px;
        grid-template-columns: 300px;
        justify-content: center;
    }
}


@media screen and (max-width :420px) {
    .GRIDS {

        display: grid;
        margin-top: 60px;
        grid-template-columns: 250px;
        justify-content: center;
    }

    img {
        width: 230px;
    }
}